@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Oswald|Permanent+Marker");
body, body .dark, body .light, body table, body .neutral, body .pale {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.site-header,
.site-footer {
  flex: none;
  z-index: 9;
}

.site-content {
  flex: 1 0 auto;
}
.site-content:focus {
  outline: none;
}

body {
  min-width: 320px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 99;
}
.site-header .header-main-inner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.site-header .skip-to-content-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.site-header .skip-to-content-link:focus {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  clip: auto;
}
.site-header .topbar {
  order: -1;
  width: 100%;
}
.site-header .topbar-inner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.site-header .topbar-inner > * {
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (min-width: 1024px) {
  .site-header .topbar-inner {
    height: 45px;
  }
}
.site-header .header-secondary-nav .section-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 1.5rem;
}
.site-header .header-secondary-nav .links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.site-header .header-secondary-nav .link-item {
  margin: 0 6px;
}
.site-header .header-secondary-nav .link-item a {
  text-decoration: none;
}
.site-header .header-secondary-nav .link-item a:hover, .site-header .header-secondary-nav .link-item a:focus {
  text-decoration: underline;
}
.site-header .header-logo.logo-replacement a {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  overflow: hidden;
  height: 196px;
  width: 200px;
  max-width: 100%;
  white-space: nowrap;
  text-indent: 200%;
  color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/pics/header_logo.png");
}
.site-header .header-logo:not(.logo-replacement) a:before {
  content: "";
  display: block;
  flex: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 200px;
  height: 196px;
  margin-bottom: 15px;
  background-image: url("/pics/header_logo.png");
}
.site-header .header-title a {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-decoration: none;
}
.site-header .header-title a .school-name-inner {
  max-width: 100%;
}
.site-header .marquee {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.site-header .marquee .marquee-inner {
  display: inline-block;
  padding-left: 100%;
}
.site-header .marquee .marquee-inner:hover {
  animation-play-state: paused;
}
.site-header .marquee.marquee-speed-18 .marquee-inner {
  animation: marquee 15s linear infinite;
}
.site-header .marquee.marquee-speed-35 .marquee-inner {
  animation: marquee 30s linear infinite;
}
.site-header .marquee.marquee-speed-7 .marquee-inner {
  animation: marquee 7.5s linear infinite;
}
.site-header .marquee .marquee-content {
  float: left;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.site-header .sitenav-holder.column {
  width: 100%;
}
.site-header .sitenav-holder.column .nav-mobile-toggle {
  position: absolute;
  display: block;
  height: 4px;
  width: 28px;
  font-size: 0;
  border-top: 14px double transparent;
  border-bottom: 5px solid transparent;
}
.site-header .sitenav-holder.column .nav-group {
  position: absolute;
  z-index: 99;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s;
}
.site-header .sitenav-holder.column .nav-group.open {
  max-height: 2000px;
}
.site-header .sitenav-holder.column .nav-menu,
.site-header .sitenav-holder.column .sub-nav-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .sitenav-holder.column .nav-menu a,
.site-header .sitenav-holder.column .sub-nav-group a {
  display: flex;
  align-items: center;
  padding: 0.5em;
  text-decoration: none;
}
.site-header .sitenav-holder.column .nav-menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
}
.site-header .sitenav-holder.column .sub-nav {
  display: none;
}
.site-header .sitenav-holder.column .sub-nav.open {
  display: block;
}
.site-header .sitenav-holder.column .sub-nav .flyout-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 1023px) {
  .site-header .sitenav-holder.column .sub-nav a {
    padding-left: 1.5em;
  }
  .site-header .sitenav-holder.column .sub-nav .flyout-group a {
    padding-left: 2.5em;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav-holder.column .nav-mobile-toggle {
    display: none;
  }
  .site-header .sitenav-holder.column .nav-group {
    position: static;
    max-height: none;
    overflow: visible;
  }
  .site-header .sitenav-holder.column .nav-menu {
    flex-direction: row;
    position: relative;
  }
}
.site-header .sitenav-holder.column .nav-item {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav-holder.column {
    position: relative;
  }
  .site-header .sitenav-holder.column .nav-menu {
    position: relative;
  }
  .site-header .sitenav-holder.column .sub-nav-group {
    display: flex;
    flex-wrap: wrap;
    width: 12.5em;
  }
  .site-header .sitenav-holder.column .sub-nav {
    position: absolute;
  }
  .site-header .sitenav-holder.column .sub-nav a {
    width: 11.5em;
  }
  .site-header .sitenav-holder.column .sub-nav .flyout-group a {
    width: 10.5em;
    padding-left: 1.5em;
  }
}
.site-header .sitenav-holder.megamenu {
  width: 100%;
}
.site-header .sitenav-holder.megamenu .nav-mobile-toggle {
  position: absolute;
  display: block;
  height: 4px;
  width: 28px;
  font-size: 0;
  border-top: 14px double transparent;
  border-bottom: 5px solid transparent;
}
.site-header .sitenav-holder.megamenu .nav-group {
  position: absolute;
  z-index: 99;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s;
}
.site-header .sitenav-holder.megamenu .nav-group.open {
  max-height: 2000px;
}
.site-header .sitenav-holder.megamenu .nav-menu,
.site-header .sitenav-holder.megamenu .sub-nav-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header .sitenav-holder.megamenu .nav-menu a,
.site-header .sitenav-holder.megamenu .sub-nav-group a {
  display: flex;
  align-items: center;
  padding: 0.5em;
  text-decoration: none;
}
.site-header .sitenav-holder.megamenu .nav-menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
}
.site-header .sitenav-holder.megamenu .sub-nav {
  display: none;
}
.site-header .sitenav-holder.megamenu .sub-nav.open {
  display: block;
}
.site-header .sitenav-holder.megamenu .sub-nav .flyout-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 1023px) {
  .site-header .sitenav-holder.megamenu .sub-nav a {
    padding-left: 1.5em;
  }
  .site-header .sitenav-holder.megamenu .sub-nav .flyout-group a {
    padding-left: 2.5em;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav-holder.megamenu .nav-mobile-toggle {
    display: none;
  }
  .site-header .sitenav-holder.megamenu .nav-group {
    position: static;
    max-height: none;
    overflow: visible;
  }
  .site-header .sitenav-holder.megamenu .nav-menu {
    flex-direction: row;
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav-holder.megamenu .sub-nav {
    position: absolute;
    left: 0;
  }
  .site-header .sitenav-holder.megamenu .sub-nav.open {
    display: flex;
    align-items: flex-start;
  }
  .site-header .sitenav-holder.megamenu .sub-nav .sub-nav-group {
    display: flex;
    flex-wrap: wrap;
    flex: none;
  }
  .site-header .sitenav-holder.megamenu .sub-nav .sub-nav-group > li {
    width: 100%;
  }
  .site-header .sitenav-holder.megamenu .sub-nav .sub-nav-group > li a {
    margin: 0 1em;
  }
  .site-header .sitenav-holder.megamenu .sub-nav .mm-extra-content {
    flex: 1;
  }
  .site-header .sitenav-holder.megamenu .sub-nav .mm-image {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav-holder.megamenu .sub-nav {
    right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .site-header .sitenav-holder.megamenu .mm-extra-content {
    display: none;
  }
}
.site-header .sitenav-holder.megamenu .contact-info {
  flex-direction: column;
  align-items: flex-start;
  margin: 1em;
}
.site-header .sitenav-holder.megamenu .contact-info .header-contact-link {
  display: inline-flex;
  padding: 0;
}
.site-header .sitenav-holder.megamenu .map-container {
  position: relative;
  display: block;
  margin: 1em;
  min-height: 250px;
}
.site-header .sitenav-holder.megamenu .map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .site-header .sitenav-holder.megamenu .contact-info {
    margin: 0 0 0 1em;
    padding: 0.5em;
    width: 40% !important;
  }
  .site-header .sitenav-holder.megamenu .map-container {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .site-header.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.content-pages-banner {
  flex: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .content-pages-banner {
    display: none;
  }
}
.content-pages-banner .caption {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.index-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

#content_main {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  z-index: 9;
  padding: 25px 2.5%;
  min-height: 400px;
  overflow: visible;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 15px;
}
#content_main .pages-left-column-wrapper {
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  #content_main table {
    display: block;
    overflow-x: auto;
  }
  #content_main .bell-schedule {
    display: table;
  }
  #content_main .pages-column .stack-photo figcaption,
  #content_main .slideshow-wrapper .slide .slide-caption {
    font-size: 0.85em;
  }
  #content_main .video-list-top #controls2,
  #content_main .video-list-top #controls3 {
    width: auto;
  }
  #content_main #more-videos {
    display: none;
  }
  #content_main #staff_list_public .user-info-wrapper span[id*=staff] {
    display: block;
  }
  #content_main #staff_list_public .user-info-wrapper .user-position-public {
    display: block;
    margin-left: 0;
    width: 100%;
  }
  #content_main #staff_list_public .user-info-wrapper p {
    display: block;
    float: left;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  #content_main .news-list article .column {
    width: 100%;
  }
  #content_main .show-news .attached-images {
    float: none;
    margin: 0 auto 1em;
  }
  #content_main .single-video #big-video,
  #content_main .below-start #big-video {
    width: 100% !important;
  }
  #content_main .video-list .thumb_wrap {
    display: block;
    float: none;
  }
  #content_main .video-list li .description {
    padding-left: 0;
  }
  #content_main .video-list li .video-list-date {
    padding-left: 0;
  }
  #content_main .bell-schedule {
    width: 100%;
  }
  #content_main .pages-column .stack-photo figcaption,
  #content_main .slideshow-wrapper .slide .slide-caption {
    font-size: 0.7em;
  }
  #content_main .video-list-top .controls,
  #content_main .video-list-top #controls2,
  #content_main .video-list-top #controls3 {
    display: none;
  }
  #content_main #album_thumbnails table img {
    width: 90%;
    height: auto;
    position: relative;
  }
  #content_main #edlio_search_form {
    max-width: 400px;
    width: auto;
  }
  #content_main #edlio_search_form input {
    width: 200px;
  }
  #content_main #contact_form {
    width: 100%;
  }
  #content_main #contact_form table {
    display: table;
    font-size: 12px;
    width: 280px !important;
  }
  #content_main #contact_form #f_name {
    width: 200px !important;
  }
  #content_main #contact_form #f_email {
    width: 200px !important;
  }
  #content_main #contact_form #f_message {
    width: 200px !important;
  }
  #content_main #calendar_wrapper .right-column {
    float: none;
    width: 100%;
  }
  #content_main #calendar_wrapper .right-column #calendar_grid table {
    display: table;
  }
  #content_main .pages-column .page-block-text,
  #content_main .pages-column .page-block-photos {
    width: 100%;
  }
  #content_main .pages-left-column-wrapper {
    margin-left: 0 !important;
    float: none;
  }
  #content_main .pages-left-column-wrapper .pages-left-column {
    margin-left: 0 !important;
  }
  #content_main .pages-right-column {
    float: none;
    width: 100% !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
.index #content_main {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
#content_main .pages-content-wrapper {
  overflow: visible;
}
#content_main img.sub {
  border: none;
}
.index #content_main {
  background-color: transparent;
  box-shadow: none;
}
#content_main .right-column-page-navigation {
  margin-bottom: 1.25em;
}
@media screen and (max-width: 767px) {
  #content_main .right-column-page-navigation {
    margin: 20px auto;
  }
}
#content_main .right-column-page-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
#content_main .right-column-page-navigation a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-weight: 400;
  padding: 0.8em 6% 0.8em 10%;
  width: 84%;
  margin: 0;
  line-height: auto;
}
#content_main .right-column-page-navigation a:hover, #content_main .right-column-page-navigation a:focus {
  text-decoration: underline;
}
#content_main .right-column-page-navigation a .inner {
  text-decoration: none;
}
#content_main .right-column-page-navigation a .inner:hover, #content_main .right-column-page-navigation a .inner:focus {
  text-decoration: underline;
}

.homepage-row.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.homepage-row .homepage-row-inner {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .homepage-row .homepage-row-inner {
    display: flex;
  }
}
.homepage-row .homepage-column {
  flex: 1;
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .width-constrain-row .homepage-row-inner {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
  }
}

.content-container {
  padding-top: 25px;
  padding-bottom: 25px;
}
.content-container a {
  text-decoration: none;
}
.content-container a:hover, .content-container a:focus {
  text-decoration: underline;
}
.content-container .section-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}
.content-container .section-title a {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .content-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .content-container .section-title {
    margin-bottom: 40px;
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .content-container {
    width: 100%;
  }
}

.item-summary {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 1024px) {
  .item-summary {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.read-more-links-group {
  display: flex;
  justify-content: center;
}

.site-footer .footer-inner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  text-align: center;
}
.site-footer .footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
  margin-bottom: 15px;
}
.site-footer .footer-logo.logo-replacement {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  overflow: hidden;
  height: 69px;
  width: 70px;
  max-width: 100%;
  white-space: nowrap;
  text-indent: 200%;
  color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/pics/header_logo.png");
}
.site-footer .footer-logo:not(.logo-replacement):before {
  content: "";
  display: block;
  flex: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 70px;
  height: 69px;
  margin-bottom: 15px;
  background-image: url("/pics/header_logo.png");
}
@media screen and (min-width: 768px) {
  .site-footer .footer-logo:not(.logo-replacement).logo-orientation-horizontal {
    flex-direction: row;
    justify-content: center;
  }
  .site-footer .footer-logo:not(.logo-replacement).logo-orientation-horizontal:before {
    margin-bottom: 0;
    margin-right: 15px;
  }
}
.site-footer .footer-title {
  font-size: 0.5rem;
}
.site-footer .footer-title .school-name-inner {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .site-footer .footer-title {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .site-footer .footer-title {
    font-size: 1rem;
  }
}
.site-footer .footer-address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  text-align: center;
}
.site-footer .footer-address a {
  color: inherit;
}
.site-footer .footer-address svg {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.site-footer .footer-secondary-nav {
  margin-bottom: 15px;
}
.site-footer .footer-secondary-nav .section-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 1.5rem;
}
.site-footer .footer-secondary-nav .links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.site-footer .footer-secondary-nav .link-item {
  margin: 0 6px;
}
.site-footer .footer-secondary-nav .link-item a {
  text-decoration: none;
}
.site-footer .footer-secondary-nav .link-item a:hover, .site-footer .footer-secondary-nav .link-item a:focus {
  text-decoration: underline;
}
.site-footer .powered-by-edlio-logo {
  display: block;
  width: 140px;
  height: 20px;
  overflow: hidden;
}
.site-footer .powered-by-edlio-logo svg {
  display: block;
  width: 140px;
  height: 20px;
  margin: 0;
}
.site-footer .footer-bottom-inner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.site-footer .footer-bottom-inner > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

#search {
  display: inline-flex;
}
#search #site_search {
  margin: 0;
  border: none;
  vertical-align: top;
  background: transparent;
  -webkit-appearance: none;
  box-sizing: content-box;
}
#search .site-search-button {
  display: block;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

#mobile_nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
}
#mobile_nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
  text-decoration: none;
}
#mobile_nav a svg {
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  #mobile_nav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #footer_main {
    padding-bottom: 64px;
  }
}

.edlio-login-link {
  display: flex;
  text-decoration: none;
}
.edlio-login-link .edlio-logo {
  display: block;
  width: 30px;
  height: 20px;
  overflow: hidden;
  padding-right: 4px;
  margin-right: 4px;
  border-right: 2px solid transparent;
}
.edlio-login-link .edlio-logo svg {
  display: block;
  width: 30px;
  height: 20px;
  margin: 0;
}
.slick-container {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-container .slick-list {
  width: calc(100% - 25px * 2);
  margin: 0 25px;
}
.slick-container .slick-arrow {
  padding: 0;
}
.slick-container .slick-arrow.slick-prev, .slick-container .slick-arrow.slick-next {
  background-image: none;
}
.slick-container .slick-arrow:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 12px + 2px);
  width: 12px;
  height: 12px;
  border-top-style: solid;
  border-top-width: 2px;
}
.slick-container .slick-arrow.slick-prev:before {
  transform: rotate(-45deg) translateZ(1px);
  border-left-style: solid;
  border-left-width: 2px;
  left: calc(50% - 12px + 2px);
}
.slick-container .slick-arrow.slick-next:before {
  transform: rotate(45deg) translateZ(1px);
  border-right-style: solid;
  border-right-width: 2px;
  right: calc(50% - 12px + 2px);
}
.slick-container .slick-arrow:before {
  border-top-color: rgb(0, 0, 0);
}
.slick-container .slick-arrow.slick-prev:before {
  border-left-color: rgb(0, 0, 0);
}
.slick-container .slick-arrow.slick-next:before {
  border-right-color: rgb(0, 0, 0);
}
.slick-container .slick-arrow {
  width: 28px;
  height: 28px;
  top: calc(50% - 28px / 2);
}
.slick-container .slick-dots li button:before {
  color: rgb(107, 153, 124);
}
.slick-container .slick-dots.number-dots li button {
  background: rgb(107, 153, 124);
}
.slick-container .slick-dots.number-dots li.slick-active button {
  color: rgb(107, 153, 124);
}
.slick-container .slick-dots li.slick-active button:before {
  color: rgb(9, 29, 90);
}
.slick-container .slick-dots.number-dots li button {
  color: rgb(9, 29, 90);
}
.slick-container .slick-dots.number-dots li.slick-active button {
  background: rgb(9, 29, 90);
}
.slick-container .slick-slider {
  position: relative;
}
.slick-container .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
}
.slick-container .slick-list:focus {
  outline: none;
}
.slick-container .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-container .slick-slider .slick-track,
.slick-container .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-container .slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin: 0 auto;
}
.slick-container .slick-track:before, .slick-container .slick-track:after {
  content: "";
  display: table;
}
.slick-container .slick-track:after {
  clear: both;
}
.slick-loading .slick-container .slick-track {
  visibility: hidden;
}
.slick-container .slick-slide {
  position: relative;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir=rtl] .slick-container .slick-slide {
  float: right;
}
.slick-container .slick-slide img {
  display: block;
}
.slick-container .slick-slide.slick-loading img {
  display: none;
}
.slick-container .slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-container .slick-slide {
  display: block;
}
.slick-loading .slick-container .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-container .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-container .slick-arrow {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-indent: 200%;
  color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 9999;
  border: none;
  background-color: transparent;
}
.slick-container .slick-arrow:hover {
  cursor: pointer;
}
.slick-container .slick-arrow.slick-prev {
  left: 0;
}
.slick-container .slick-arrow.slick-next {
  right: 0;
}
.slick-container .slick-arrow.slick-hidden {
  display: none;
}
.slick-container .slick-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.slick-container .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 9999;
  text-align: center;
}
.slick-container .slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.slick-container .slick-dots li button {
  display: block;
  height: 20px;
  width: 20px;
  padding: 5px;
  outline-width: none;
  font-size: 0px;
  line-height: 0px;
  color: transparent;
  border: 0;
  cursor: pointer;
  background: none transparent;
}
.slick-container .slick-dots li button:hover, .slick-container .slick-dots li button:focus {
  outline-width: 5px;
}
.slick-container .slick-dots li button:before {
  content: "•";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 2rem;
  text-align: center;
}
.slick-container .slick-dots.number-dots li button {
  font-size: 0.75em;
}
.slick-container .slick-dots.number-dots li button:before {
  display: none;
}
@media screen and (min-width: 768px) {
  .slick-container .slick-dots li {
    margin: 0.5em;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.site-header2a .header-title {
  flex: none;
  margin: 0;
  font-size: 0.5rem;
}
.site-header2a .header-title a {
  text-align: center;
  font-size: 2em;
}
@media screen and (min-width: 768px) {
  .site-header2a .header-title {
    font-size: 0.75rem;
  }
  .site-header2a .header-title a {
    flex-direction: row;
  }
  .site-header2a .header-title.header-logo:not(.logo-replacement) a:before {
    margin-bottom: 0;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .site-header2a .header-main-inner {
    flex-direction: row;
  }
  .site-header2a .header-title {
    z-index: 99;
    max-width: 40%;
    font-size: 1rem;
  }
}

.site-footer2 .school-name .school-name-inner {
  font-size: 3em;
}
.site-footer2 .footer-secondary-nav:not(.social-nav) .links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.site-footer2 .footer-secondary-nav:not(.social-nav) .links-list .link-item {
  margin: 0 0 10px;
}
.site-footer2 .footer-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-footer2 .footer-tools > * {
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  .site-footer2 .footer-inner {
    display: flex;
    justify-content: space-around;
  }
  .site-footer2 .footer-info {
    max-width: 40%;
  }
  .site-footer2 .footer-address {
    align-items: flex-start;
    text-align: left;
  }
}

.shuffle1-container {
  position: relative;
  z-index: 1;
  width: 100%;
}
.shuffle1-container.content-container {
  padding: 0;
}
.shuffle1-container .shuffle-main {
  z-index: 1;
  width: 100%;
}
.shuffle1-container .shuffle-main .slick-list {
  margin: 0;
  height: 100%;
  width: 100%;
}
.shuffle1-container .shuffle-main .slick-track {
  height: 100%;
}
.shuffle1-container .shuffle-main .shuffle-slide {
  position: relative;
  margin: 0;
}
.shuffle1-container .shuffle-main .shuffle-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 767px) {
  .shuffle1-container .shuffle-main .shuffle-caption {
    display: none;
  }
}
.shuffle1-container .shuffle-main .shuffle-caption a {
  color: inherit;
}
.shuffle1-container .shuffle-main .shuffle-caption.caption-position-top {
  top: 0;
}
.shuffle1-container .shuffle-main .shuffle-caption.caption-position-bottom {
  bottom: 0;
}
.shuffle1-container .shuffle-main.navshuffle-position-top .shuffle-caption.caption-position-top {
  top: calc(54px + 1em);
}
.shuffle1-container .shuffle-main.navshuffle-position-bottom .shuffle-caption.caption-position-bottom {
  bottom: calc(54px + 1em);
}
.shuffle1-container .shuffle-main.navshuffle-position-left .shuffle-caption {
  left: calc(100px + 1em);
}
.shuffle1-container .shuffle-main.navshuffle-position-right .shuffle-caption {
  right: calc(100px + 1em);
}
.shuffle1-container .slick-dots {
  position: absolute;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .shuffle1-container .slick-dots {
    display: none;
  }
}
.shuffle1-container .slick-dots.slick-dots-bottom, .shuffle1-container .slick-dots.slick-dots-top {
  left: 0;
  width: 100%;
}
.shuffle1-container .slick-dots.slick-dots-bottom {
  bottom: 0;
}
.shuffle1-container .slick-dots.slick-dots-top {
  top: 0;
}
.shuffle1-container .slick-dots.slick-dots-left, .shuffle1-container .slick-dots.slick-dots-right {
  flex-direction: column;
  top: 0;
  height: 100%;
}
.shuffle1-container .slick-dots.slick-dots-left {
  left: 0;
}
.shuffle1-container .slick-dots.slick-dots-right {
  right: 0;
}
.shuffle1-container .shuffle-image {
  width: 100%;
}
.shuffle1-container .shuffle-navigation {
  position: absolute;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 767px) {
  .shuffle1-container .shuffle-navigation {
    display: none;
  }
}
.shuffle1-container .shuffle-navigation .slick-list {
  margin: 0;
  padding: 0;
  bottom: 0;
}
.shuffle1-container .shuffle-navigation .slick-track {
  height: 100%;
}
.shuffle1-container .shuffle-navigation .shuffle-slide {
  position: relative;
  display: block;
  height: 50px;
  margin: 0.5em;
  overflow: hidden;
  border: 2px solid transparent;
}
.shuffle1-container .shuffle-navigation .shuffle-slide.slick-current {
  border-color: rgb(0, 0, 0);
}
.shuffle1-container .shuffle-navigation.navigation-position-bottom, .shuffle1-container .shuffle-navigation.navigation-position-top {
  left: 0;
  width: 100%;
}
.shuffle1-container .shuffle-navigation.navigation-position-bottom {
  bottom: 0;
}
.shuffle1-container .shuffle-navigation.navigation-position-top {
  top: 0;
}
.shuffle1-container .shuffle-navigation.navigation-position-left, .shuffle1-container .shuffle-navigation.navigation-position-right {
  top: 0;
  height: 100%;
  width: calc(100px + 1em);
}
.shuffle1-container .shuffle-navigation.navigation-position-left .slick-list,
.shuffle1-container .shuffle-navigation.navigation-position-left .slick-track, .shuffle1-container .shuffle-navigation.navigation-position-right .slick-list,
.shuffle1-container .shuffle-navigation.navigation-position-right .slick-track {
  height: 100% !important;
}
.shuffle1-container .shuffle-navigation.navigation-position-left .slick-track, .shuffle1-container .shuffle-navigation.navigation-position-right .slick-track {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shuffle1-container .shuffle-navigation.navigation-position-left .shuffle-slide, .shuffle1-container .shuffle-navigation.navigation-position-right .shuffle-slide {
  width: 100px;
  float: none;
}
.shuffle1-container .shuffle-navigation.navigation-position-left {
  left: 0;
}
.shuffle1-container .shuffle-navigation.navigation-position-right {
  right: 0;
}
.shuffle1-container .error-message {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  background: rgb(255, 255, 255);
}
@media screen and (min-width: 1024px) {
  .shuffle1-container .shuffle-caption {
    padding: 1em;
  }
}

.quicklinks-container .items-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.quicklinks-container .qlink-inner {
  display: flex;
  align-items: center;
}
.quicklinks-container .qlink-item a {
  display: block;
}
.quicklinks-container .qlink-item svg {
  flex: none;
  width: 50px;
  height: 50px;
}
.quicklinks-container .qlink-text {
  max-width: 100%;
  font-size: 1.125rem;
}
.quicklinks-container.icon-orientation-vertical {
  text-align: center;
}
.quicklinks-container.icon-orientation-vertical .qlink-inner {
  flex-direction: column;
}
.quicklinks-container.icon-orientation-vertical .qlink-item svg {
  margin-bottom: 24px;
}
.quicklinks-container.icon-orientation-horizontal .qlink-item svg {
  margin-right: 30px;
}
.quicklinks-container.orientation-vertical .items-list {
  flex-direction: column;
}

.news1-container:not(.slick-container) .items-list {
  display: flex;
  flex-direction: column;
}
.news1-container .news-item-image-holder {
  flex: none;
  max-width: 100%;
}
.news1-container .news-item-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.news1-container.content-size-small .item {
  margin-bottom: 10px;
}
.news1-container.content-size-small .item-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.125rem;
}
.news1-container.content-size-medium .item {
  margin-bottom: 20px;
}
.news1-container.content-size-medium .item-name {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.news1-container.content-size-medium .item-text {
  font-size: 1.125rem;
}
.news1-container.content-size-large .item {
  margin-bottom: 30px;
}
.news1-container.content-size-large .item-name {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 2.25rem;
}
.news1-container.content-size-large .item-text {
  font-size: 1.5rem;
}
.news1-container.thumbnail-orientation-vertical.content-size-small .news-item-image-holder {
  margin-bottom: 10px;
}
.news1-container.thumbnail-orientation-vertical.content-size-medium .news-item-image-holder {
  margin-bottom: 20px;
}
.news1-container.thumbnail-orientation-vertical.content-size-large .news-item-image-holder {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .news1-container.thumbnail-orientation-horizontal .item {
    display: flex;
    align-items: flex-start;
  }
  .news1-container.thumbnail-orientation-horizontal .news-item-image-holder {
    flex: none;
    max-width: 250px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .news1-container.orientation-horizontal .items-list {
    flex-direction: row;
  }
}

.events1-container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events1-container .items-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.events1-container .event-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 110px;
  height: 110px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.events1-container .event-date .event-month {
  font-size: 1.125em;
}
.events1-container .event-date .event-day {
  font-size: 2.25em;
}
.events1-container.content-size-small .item {
  margin-bottom: 10px;
}
.events1-container.content-size-small .item-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.125rem;
}
.events1-container.content-size-small .event-date {
  font-size: 1rem;
}
.events1-container.content-size-medium .item {
  margin-bottom: 30px;
}
.events1-container.content-size-medium .item-name {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.events1-container.content-size-medium .item-text {
  font-size: 1.125rem;
}
.events1-container.content-size-medium .event-date {
  font-size: 1.125rem;
}
.events1-container.content-size-large .item {
  margin-bottom: 30px;
}
.events1-container.content-size-large .item-name {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 2.25rem;
}
.events1-container.content-size-large .item-text {
  font-size: 1.5rem;
}
.events1-container.content-size-large .event-date {
  font-size: 1.5rem;
}
.events1-container.date-orientation-vertical .item {
  text-align: center;
}
.events1-container.date-orientation-vertical.content-size-small .event-date {
  margin-bottom: 10px;
}
.events1-container.date-orientation-vertical.content-size-medium .event-date {
  margin-bottom: 20px;
}
.events1-container.date-orientation-vertical.content-size-large .event-date {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .events1-container.date-orientation-horizontal .event-date {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .events1-container.date-orientation-horizontal .item {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .events1-container.orientation-horizontal .items-list {
    flex-direction: row;
  }
  .events1-container.orientation-horizontal .item {
    flex: 1;
  }
}

.spotlight1-container .item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spotlight1-container .spotlight-image-holder {
  max-width: 100%;
}
.spotlight1-container .spotlight-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.spotlight1-container .item-summary.clipped-summary .item-text {
  overflow: hidden;
  max-height: 6.25em;
  line-height: 1.25em;
}
.spotlight1-container .item-text {
  margin-bottom: 20px;
}
.spotlight1-container.content-size-medium .item-text {
  font-size: 1.125rem;
}
.spotlight1-container.content-size-large .item-text {
  font-size: 1.5rem;
}
.spotlight1-container.thumbnail-orientation-vertical .item-inner {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .spotlight1-container.thumbnail-orientation-horizontal .item-inner {
    flex-direction: row;
    align-items: flex-start;
  }
  .spotlight1-container.thumbnail-orientation-horizontal .spotlight-image-holder {
    flex: none;
    max-width: 250px;
    margin-right: 15px;
  }
}

body:not(.index) {
  background: rgb(238, 238, 238);
}

#header_main {
  padding-bottom: 20px;
  background: rgb(255, 255, 255);
}
#header_main .school-name {
  padding-top: 25px;
  padding-bottom: 25px;
}
#header_main .school-name a {
  color: rgb(0, 0, 0);
}
#header_main .school-name .school-name-inner {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
}
#header_main .sitenav-holder .nav-mobile-toggle {
  top: 20px;
  right: 20px;
}
#header_main .sitenav-holder .nav-group {
  top: 196px;
}
@media screen and (max-width: 1023px) {
  #header_main .sitenav-holder .icon-only svg {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  #header_main .sitenav-holder .sitenav.nav-group .nav-item > a {
    height: 65px;
    padding: 0 10px;
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
  #header_main .sitenav-holder .sitenav.nav-group .nav-item > a.icon-only .nav-item-inner {
    display: block;
    width: 18px;
    height: 18px;
    overflow: hidden;
  }
  #header_main .sitenav-holder .sitenav.nav-group .nav-item > a.icon-only .nav-item-inner svg {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
  }
  #header_main .sitenav-holder .sitenav.nav-group .nav-item .sub-nav a:hover, #header_main .sitenav-holder .sitenav.nav-group .nav-item .sub-nav a:focus {
    color: rgb(255, 255, 255);
  }
}
#header_main #social_nav_header {
  background: rgba(0, 0, 0, 0.5);
}
body:not(.index) #header_main #social_nav_header {
  display: none;
}
#header_main #social_nav_header .link-item {
  margin: 10px;
}
#header_main #social_nav_header .icon-only {
  display: block;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
#header_main #social_nav_header .icon-only svg {
  display: block;
  width: 22px;
  height: 22px;
  margin: 0;
  fill: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  #header_main {
    padding-bottom: 0;
  }
  #header_main #social_nav_header {
    position: fixed;
    top: 30vh;
    right: 0;
    width: 42px;
    padding: 10px 0;
  }
  #header_main #social_nav_header .links-list {
    flex-direction: column;
  }
}

#row_events {
  position: relative;
}
#row_events:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#motto {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  #motto {
    padding-top: 60px;
    font-size: 1.875rem;
  }
}

#quicklinks .qlink-item {
  width: 140px;
  height: 175px;
  margin: 10px;
}
#quicklinks .qlink-item a {
  padding: 10px;
}
#quicklinks .qlink-item a:hover, #quicklinks .qlink-item a:focus {
  text-decoration: none;
}
#quicklinks .qlink-item .qlink-text {
  font-size: 1.25rem;
  font-family: "Oswald", sans-serif;
}
#quicklinks .qlink-item svg {
  width: 85px;
  height: 85px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  #quicklinks .qlink-item {
    width: 190px;
    height: 175px;
  }
}

#news_container .item-name a, #news2_container .item-name a {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
#news_container .item-text, #news2_container .item-text {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  #news_container .item, #news2_container .item {
    margin: 0 12px 25px;
  }
}
@media screen and (min-width: 1024px) {
  #news_container .section-title, #news2_container .section-title {
    margin-bottom: 30px;
  }
}

#events_container .event-date {
  width: 95px;
  height: 150px;
  font-family: "Oswald", sans-serif;
}
#events_container .event-month {
  font-size: 1.5rem;
}
#events_container .event-day {
  font-size: 2.625rem;
}
@media screen and (min-width: 768px) {
  #events_container .item {
    padding-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  #events_container {
    padding-top: 55px;
  }
  #events_container .section-title {
    margin-bottom: 45px;
  }
  #events_container .items-list {
    margin-bottom: 60px;
  }
}

#spotlight_container .item-summary {
  max-width: 100%;
}
#spotlight_container .spotlight-image-holder {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 300px;
}
#spotlight_container .item-text {
  max-height: 9em;
  font-size: 1.125rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  #spotlight_container {
    padding: 0;
  }
  #spotlight_container .item-inner {
    align-items: stretch;
  }
  #spotlight_container .spotlight-image-holder {
    width: 40%;
    max-width: none;
    height: auto;
    margin: 0;
  }
  #spotlight_container .item-summary {
    box-sizing: border-box;
    width: 100%;
    max-width: 614.4px;
    padding: 45px 25px 25px 55px;
  }
  #spotlight_container .section-title {
    text-align: left;
  }
}

.content-container .section-title {
  font-family: "Oswald", sans-serif;
}
.content-container .read-more-link {
  padding: 12px 15px;
  font-size: 1.125rem;
}
.content-container .read-more-link:hover, .content-container .read-more-link:focus {
  text-decoration: none;
}

#content_main {
  box-shadow: none;
}
#content_main .pageTitle {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

#footer_main .school-name:before {
  border-radius: 50%;
}
#footer_main .footer-info-block span {
  display: block;
}
#footer_main .footer-inner {
  padding-top: 25px;
}
#footer_main .school-name-inner {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}
#footer_main .footer-address {
  font-size: 1.125rem;
}
#footer_main .footer-tools {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#footer_main .footer-tools > * {
  margin: 10px;
}
@media screen and (min-width: 768px) {
  #footer_main .footer-inner {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1024px) {
  #footer_main .footer-inner {
    justify-content: space-between;
    align-items: center;
  }
  #footer_main .school-name {
    justify-content: flex-start;
  }
  #footer_main .footer-tools {
    justify-content: flex-start;
    max-width: 290px;
  }
}

#header_main .sitenav-holder .nav-mobile-toggle {
  border-color: rgb(9, 29, 90);
}
#header_main .sitenav-holder .nav-group {
  background-color: rgb(9, 29, 90);
  color: rgb(255, 255, 255);
}
#header_main .sitenav-holder .nav-group .nav-item > a {
  height: 42px;
  padding: 0 10px;
  font-size: 1.125em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
#header_main .sitenav-holder .nav-group .nav-item > a:focus, #header_main .sitenav-holder .nav-group .nav-item > a:hover, #header_main .sitenav-holder .nav-group .nav-item > a.open {
  color: rgb(0, 0, 0);
  background-color: rgb(107, 153, 124);
}
#header_main .sitenav-holder .nav-group .sub-nav a {
  color: rgb(255, 255, 255);
}
#header_main .sitenav-holder .nav-group .sub-nav a:focus, #header_main .sitenav-holder .nav-group .sub-nav a:hover, #header_main .sitenav-holder .nav-group .sub-nav a.open {
  color: rgb(0, 0, 0);
  background-color: rgb(107, 153, 124);
}
@media screen and (min-width: 1024px) {
  #header_main .sitenav-holder .nav-group {
    background: transparent;
  }
  #header_main .sitenav-holder .nav-menu {
    justify-content: flex-end;
  }
  #header_main .sitenav-holder .nav-item > a {
    text-align: center;
  }
  #header_main .sitenav-holder .sub-nav {
    background-color: rgb(9, 29, 90);
  }
  #header_main .sitenav-holder.column .nav-item:last-child .sub-nav:focus, #header_main .sitenav-holder.column .nav-item:last-child .sub-nav.open {
    left: auto;
    right: 0;
  }
  #header_main .sitenav-holder.megamenu .sub-nav {
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    padding: 20px;
  }
  #header_main .sitenav-holder.megamenu .sub-nav .sub-nav-group {
    width: 65%;
  }
  #header_main .sitenav-holder.megamenu .sub-nav .mm-extra-content {
    width: calc(100% - 65%);
  }
}
#header_main .sitenav-holder .nav-group .nav-item > a:hover, #header_main .sitenav-holder .nav-group .nav-item > a:focus, #header_main .sitenav-holder .nav-group .nav-item > a.open {
  background-color: rgb(9, 29, 90);
  color: rgb(255, 255, 255);
}
#header_main .sitenav-holder .nav-group .nav-item > a:hover svg, #header_main .sitenav-holder .nav-group .nav-item > a:focus svg, #header_main .sitenav-holder .nav-group .nav-item > a.open svg {
  fill: rgb(255, 255, 255);
}
#header_main .sitenav-holder .nav-group .nav-item > a svg {
  fill: rgb(9, 29, 90);
}
#header_main #social_nav_header .icon-only:hover svg, #header_main #social_nav_header .icon-only:focus svg {
  fill: rgb(107, 153, 124);
}

#row_quicklinks {
  background: rgb(9, 29, 90);
}
#row_events:before {
  background-color: rgba(107, 153, 124, 0.9);
}

#motto {
  color: rgb(255, 255, 255);
}

#quicklinks .qlink-item a {
  color: rgb(255, 255, 255);
}
#quicklinks .qlink-item a:hover, #quicklinks .qlink-item a:focus {
  background-color: rgb(107, 153, 124);
  color: rgb(255, 255, 255);
}
#quicklinks .qlink-item a:hover svg, #quicklinks .qlink-item a:focus svg {
  fill: rgb(255, 255, 255);
}
#quicklinks .qlink-item a svg {
  fill: rgb(255, 255, 255);
}

#news_container .slick-arrow:before, #news2_container .slick-arrow:before {
  border-top-color: rgb(9, 29, 90);
}
#news_container .slick-arrow.slick-prev:before, #news2_container .slick-arrow.slick-prev:before {
  border-left-color: rgb(9, 29, 90);
}
#news_container .slick-arrow.slick-next:before, #news2_container .slick-arrow.slick-next:before {
  border-right-color: rgb(9, 29, 90);
}
#news_container .item-name a, #news2_container .item-name a {
  color: rgb(9, 29, 90);
}
#news_container .read-more-link, #news2_container .read-more-link {
  color: rgb(0, 0, 0);
  background: rgb(107, 153, 124);
}
#news_container .read-more-link:hover, #news_container .read-more-link:focus, #news2_container .read-more-link:hover, #news2_container .read-more-link:focus {
  background-color: rgb(9, 29, 90);
  color: rgb(255, 255, 255);
}

#events_container .slick-arrow:before {
  border-top-color: rgb(9, 29, 90);
}
#events_container .slick-arrow.slick-prev:before {
  border-left-color: rgb(9, 29, 90);
}
#events_container .slick-arrow.slick-next:before {
  border-right-color: rgb(9, 29, 90);
}
#events_container .section-title,
#events_container .item-name a,
#events_container .item-text {
  color: rgb(0, 0, 0);
}
#events_container .event-date {
  color: rgb(255, 255, 255);
  background: rgb(9, 29, 90);
}
#events_container .read-more-link {
  color: rgb(255, 255, 255);
  background: rgb(9, 29, 90);
}
#events_container .read-more-link:hover, #events_container .read-more-link:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(9, 29, 90);
}

#spotlight_container .item-text {
  color: rgb(9, 29, 90);
}
#spotlight_container .read-more-link {
  color: rgb(0, 0, 0);
  background: rgb(107, 153, 124);
}
#spotlight_container .read-more-link:hover, #spotlight_container .read-more-link:focus {
  background-color: rgb(9, 29, 90);
  color: rgb(255, 255, 255);
}

.content-container .section-title {
  color: rgb(9, 29, 90);
}

#content_main .pageTitle {
  color: rgb(9, 29, 90);
}
#content_main .right-column-page-navigation {
  background: rgb(9, 29, 90);
}
#content_main .right-column-page-navigation li a {
  color: rgb(255, 255, 255);
}
#content_main .right-column-page-navigation li.active a {
  background-color: rgb(107, 153, 124);
  color: rgb(255, 255, 255);
}

#footer_main {
  color: rgb(255, 255, 255);
  background: rgb(9, 29, 90);
}
#footer_main .edlio-login-link {
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
}
#footer_main .edlio-login-link .edlio-logo {
  border-right-color: rgb(255, 255, 255);
}
#footer_main .edlio-login-link .edlio-logo svg {
  fill: rgb(255, 255, 255);
}
#footer_main .edlio-login-link:hover, #footer_main .edlio-login-link:focus {
  color: rgb(255, 255, 255);
}
#footer_main .edlio-login-link:hover .edlio-logo, #footer_main .edlio-login-link:focus .edlio-logo {
  border-color: rgb(255, 255, 255);
}
#footer_main .edlio-login-link:hover .edlio-logo svg, #footer_main .edlio-login-link:focus .edlio-logo svg {
  fill: rgb(255, 255, 255);
}
#footer_main .powered-by-edlio-logo svg {
  fill: rgb(255, 255, 255);
}

#mobile_nav {
  background: rgb(9, 29, 90);
}
#mobile_nav a {
  color: rgb(255, 255, 255);
}
#mobile_nav a svg {
  fill: rgb(255, 255, 255);
}
#mobile_nav a:hover, #mobile_nav a:focus {
  color: rgb(107, 153, 124);
}
#mobile_nav a:hover svg, #mobile_nav a:focus svg {
  fill: rgb(107, 153, 124);
}/*# sourceMappingURL=main.css.map */
